input[type=text], input[type=password], input[type=email], input[type=number], textarea
{
	background-color: white;
	color: #555753;
	font-size: 120%;
	font-family: 'MainFont';
	padding: 2%;

	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
	border-color: #bbb;
}

textarea { resize: none; }

.textarea
{
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
	border-color: #bbb;
	padding: 2%;
}

input:focus { border-color: #43ace8; }

label
{
	color: #555;
	text-align: left;
}

* + label { margin-top: 20px; }
label + * { margin-top: 5px; }
form + *, input + *, .textarea + * { margin-top: 20px; }
* + button { margin-top: 25px; }

.input-container { position: relative; }

.input-icon
{
	position: absolute;
	left: 3%;
	top: 30%;
	color: #555;
}

.input-container input { padding-left: 9%; }

.input-error-message
{
	display: none;
	margin-top: 10px;
	color: #f9491a;
}
