.scroll-area
{
	overflow-y: auto;
	max-height: 50vh;
}

.scroll-area-row
{
	padding: 3%;
	text-align: center;
	font-size: 150%;
	color: #444;
}

.scroll-area-row span
{
	font-size: 80%;
}

/* Section selectors */
.section-selector
{
	padding: 2%;
	color: #555;
	text-align: center;
	transition: 0.4s;
	cursor: pointer;
}

.section-selector:hover, .selected-section-selector { color: #418fe0; }
